.git
.github

.env
.env.\*

vendor
node_modules

storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views

tests

.phpunit.result.cache

README.md
